{{ form_start(form) }}
{{ form_errors(form) }}

  <table id="todos" class="add-new-form-table">
    <tr>
      <td>
        {{ form_row(form.task, {'label': ""} ) }}
      </td>
      <td>
        {{ form_row(form.status, {'label': ""}) }}
      </td>
      <td>
         <button class="btn">Add</button>
      </td>
    </tr>
  </table>
 
{{ form_end(form) }}
